/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 
 * {
     font-family: cursive;
 }

 .container {
     max-width: 100%;
 }

 .title-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     height: 50%;
     align-items: flex-start;
 }

 .img-fill {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%; 
    margin: 0;
    width: 100%;
 }

 .link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
    align-items: flex-start;
}

.title {
    text-align: center;
    font-size: 42px;
    color: grey;
    padding-top: 40px;
    font-family: fantasy;
} 

 .subtitle {
     margin-top: 50px;
    font-size: 15px;
    text-align: center;
    background-color: white;
 }

 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
 }

 .link {
     margin: 10px;
     padding: 10px;
     align-items: flex-end;
     background-color: white;
 }

 .link a {
     font-size: 24px;
 }


 a:link {
     text-decoration: none;
     color:  #706d6d;
     ;
 }

 a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(66, 65, 65);
    font-family: fantasy;
    transition: 2s;
}

a:active {
    color: black;
}

.login-form-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

.form-title {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

.submit-button {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

.form-field {
    border-bottom:1px dashed #989895;
    border-right:none;
    border-left:none;
    border-top:none;
}

.floor-title {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

/* -----------------------------controls img on the move item page--------------------------- */

.image-show {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
/* ------------------------------------------------------------------------------------------- */

body {
    height: 100%;
    margin: 10px;
}

h3 {
    margin-bottom: 15px;
}
/* -------------------------------controlling item size---------------------- */

.item-image {
    width: 70px;
}
/* --------------------------------------------------------------------------- */




/* -------------------------------controlling hallway---------------------- */
.rooms-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: auto;
    font-size: 20px;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 5%;
}

.full-hallway {
    background-image: url('/assets/hallway/w9JKNMjyTP-doors-1767564_1280-1024x546.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%;   
}
/* --------------------------------------------------------------------------- */


.floor-container {
    text-align: center;
    padding-top: 3px;
    font-size: 38px;
    margin-bottom: 10px;
}

.move {
    text-align: center;
}


/* -----------------------------styling for room & items---------------------------------------- */
.room-grid {
    
    /* align-items: center;
    flex-direction: row;
    text-align: center; */

}

.item-on-grid {
    width: 70px;
    flex-direction: row;
    margin: 0;
}

.back-button {
    position:absolute;
    top:0;
    right:0;
    background-color: honeydew;
    font-size: 16px;
}
/* ------------------------------------------------------------------------------------------------ */

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* --------------------------error message--------------------------------------- */

.error {
    text-align: center;
    color: goldenrod;
    font-weight: bold;
}
/* --------------------------------------------------------------------------- */


/* .hallway {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} */