/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .title-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     height: 50%;
     align-items: flex-start;
 }

 

 .link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    align-items: flex-end;
}

 .title {
    margin-top: 45px;
    padding: 10px;
    font-size: 42px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    text-shadow: 1px 1px ;
    color: #706d6d;
 }

 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
 }

 .link {
     margin: 10px;
     padding: 10px;
     align-items: flex-end;
 }

 .link a {
     font-size: 24px;
 }

 * {
     font-family: cursive;
 }

 a:link {
     text-decoration: none;
     color:  #706d6d;
     ;
 }

 a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(66, 65, 65);
}

a:active {
    color: black;
}

.login-form-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

.form-title {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

.submit-button {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

.form-field {
    border-bottom:1px dashed #989895;
    border-right:none;
    border-left:none;
    border-top:none;
}

.floor-title {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

.image-show {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

body {
    height: 100%;
    margin: 10px;
}

.item-image {
    width: 5%;
}

.hallway {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.full-hallway {
    background-image: url('/assets/hallway/w9JKNMjyTP-doors-1767564_1280-1024x546.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%; 
    
}

.rooms-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: auto;
    font-size: 20px;
    margin-right: 35px;
    margin-left: 35px;
}

.floor-container {
    text-align: center;
    padding-top: 3px;
    font-size: 38px;
    margin-bottom: 10px;
}

.move {
    text-align: center;
}

h3 {
    margin-bottom: 15px;
}

.room-grid {
    padding-top: 50%;
    text-align: center;
}

.item-on-grid {
    padding: 40px;
    display: inline
}

